
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background: white;
}

.parallax {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px
}

.layers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.landscape {
    height: 719px;
}

.canvas-greenery {
    bottom: 140px;
}

.canvas-rocks {
    bottom: 80px;
}
