
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$offwhite: #ffffde;
$lightblue: #6d93c2;
$darkpurple: #30092d;
$grey: #696969;

body {
    background: white;
    font-family: 'Coustard', serif;
    color: $offwhite;
    height: 15000px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Miriam Libre', sans-serif;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 1.4em;
}

.about-section {
    padding-top: 10rem;
    height: 1100px;
    // this should be media queried to be much smaller on mobile devices
    padding-bottom: 15rem;
}

// WORK SECTION
.work-section {
    padding-top: 50px;
    height: 800px;
    padding-bottom: 10rem;
    z-index: 10;
}
.features {
    margin-top: 25px;
}
.feature-block {
    padding: 25px;
}
.feature-header {
    color: white;
}
.feature-icon-box {
    display: inline-block;
    padding: 25px;
    background-color: $darkpurple;
    border-radius: 7px;
    margin-bottom: 10px;
    color: white;
}
.stalactite-1 {
    bottom: -200px !important;
    z-index: 5;
}
.stalactite-2 {
    bottom: -205px !important;
    z-index: 0;
}
.stalactite-3 {
    bottom: -100px !important;
}

/** Custom border markers per screen **/
@include media-breakpoint-only(xl) {
    .feature-block:nth-child(-n+4) {
        border-bottom: 1px solid $lightblue;
    }
    .feature-block:nth-child(-n+3), .feature-block:nth-last-child(2), .feature-block:nth-last-child(3), .feature-block:nth-last-child(4) {
        border-right: 1px solid $lightblue;
    }
}
@include media-breakpoint-only(lg) {
    .feature-block:nth-child(-n+6) {
        border-bottom: 1px solid $lightblue;
    }
    .feature-block:nth-child(-n+4), .feature-block:nth-last-child(-n+4) {
        border-right: 1px solid $lightblue;
    }
}
@include media-breakpoint-only(md) {
    .feature-block:nth-child(-n+6) {
        border-bottom: 1px solid $lightblue;
    }
    .feature-block:nth-child(odd) {
        border-right: 1px solid $lightblue;
    }
}

.feature-border-top {
    border-top: 1px solid $lightblue;
}
.feature-border-right {
    border-right: 1px solid $lightblue;
}

.parallax {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100px
}

.layers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.layer {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0
}

.landscape {
    height: 94vh;
    background-image: linear-gradient(#58e7ff, #ff0000cc);
}

.canvas-greenery {
    bottom: 140px;
}

.canvas-rocks {
    bottom: 80px;
}

.canvas-hay {
    bottom: 20px;
}

.canvas-trees-img {
    height: 100vh;
}

/** Diagonal Row Separator **/
.svg-separator{
    display: block;
    background: 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    -webkit-transform: translateY(-100%) translateY(2px);
    transform: translateY(-100%) translateY(2px);
    width: 100%;
}
.svg-separator.bottom{
    top: auto;
    bottom: 0;
}
.sep1{
    transform: translateY(-100%) translateY(2px) scale(1,1);
    transform-origin: top;
}
.sep2 {
    transform: translateY(-100%) translateY(2px) scale(1,1);
    transform-origin: top;
}
.light-grey{background-color:#ecf0f1;}

/*
blurb
 */

//#blurb:before {
//    content: ' ';
//    display: block;
//    height: 400px;
//    width: 100%;
//    background: #02000a;
//    -webkit-transform: skewY(-3deg) translateZ(0);
//    -moz-transform: skewY(-3deg) translateZ(0);
//    -ms-transform: skewY(-3deg) translateZ(0);
//    -o-transform: skewY(-3deg) translateZ(0);
//    transform: skewY(-3deg) translateZ(0);
//    position: absolute;
//    left: 0;
//    bottom: -50px;
//    z-index: 1;
//    overflow: hidden;
//}
#blurb .contents {
    position: relative;
    z-index: 8;
}
#blurb h2 {
    color: #fff;
    text-align: left;
    font-size: 100px;
}
#blurb h2 span {
    display: block;
    line-height: 77%;

}
#blurb h2 span.line-1 {
    font-weight: 200;
    font-size: 70px;
    line-height: 100%;

}
#blurb h2 span.line-2 {
    font-weight: 300;
    font-size: 90px;
}
#blurb h2 span.line-3 {
    font-weight: 700;
    font-size: 110px;
    margin-top: 6px;
}
#blurb hr {
    border: none;
    height: 1px;
    width: 400px;
    margin: 30px 0 25px;
    background: #ff3535; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff3535 0%, #ffb22d 19%, #f7df00 37%, #26ff6c 56%, #268bff 76%, #8b3cff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff3535), color-stop(19%,#ffb22d), color-stop(37%,#f7df00), color-stop(56%,#26ff6c), color-stop(76%,#268bff), color-stop(100%,#8b3cff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* IE10+ */
    background: linear-gradient(to right,  #ff3535 0%,#ffb22d 19%,#f7df00 37%,#26ff6c 56%,#268bff 76%,#8b3cff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3535', endColorstr='#8b3cff',GradientType=1 ); /* IE6-9 */
}
#blurb p {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-right: 15%;
    line-height: 43px;
    color: rgb(214, 216, 255);
    margin: 0;
}
#blurb p strong {
    font-weight: 400;
}

